[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/account"]
	path = modules/account
	url = https://github.com/moopless/puppet-account.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = https://github.com/saz/puppet-sudo.git
[submodule "modules/os_hardening"]
	path = modules/os_hardening
	url = https://github.com/TelekomLabs/puppet-os-hardening.git
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = https://github.com/thias/puppet-sysctl.git
