[submodule "modules/stdlib"]
	path = modules/stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "modules/account"]
	path = modules/account
	url = https://github.com/moopless/puppet-account.git
[submodule "modules/sudo"]
	path = modules/sudo
	url = https://github.com/saz/puppet-sudo.git
[submodule "modules/os_hardening"]
	path = modules/os_hardening
	url = https://github.com/TelekomLabs/puppet-os-hardening.git
[submodule "modules/sysctl"]
	path = modules/sysctl
	url = https://github.com/jvehent/puppet-sysctl.git
[submodule "modules/wget"]
	path = modules/wget
	url = https://github.com/maestrodev/puppet-wget.git
[submodule "modules/elasticsearch"]
	path = modules/elasticsearch
	url = https://github.com/elasticsearch/puppet-elasticsearch.git
[submodule "modules/apt"]
	path = modules/apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
